hearder {
  border-botton: solid 3px #ca9c11 ;
  pedding: 10px;
  font-size: 22px;
  color:white;
}
body{
  background-color:ccccff}
h1{ color: cc00cc } 
P{
  font-size:16 px;
  color:  ;
}
  

